{% extends 'mridata/base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="col mb-4">
  <div class="container">
    <div class="alert alert-warning text-center mb-2">
      By using this website, you are agreeing to our <a href="{% url 'terms' %}">Terms of Service</a>.
    </div>
    <div class="card-title text-center">
      <h1>
	Welcome to mridata.org!
      </h1>
    </div>
  </div>
</div>
<form method="get" enctype="multipart/form-data">
 {% csrf_token %}

  <div class="container">
  	<div class="col">
    	<div class="row" id="custom-search-input">
      	<div class="input-group col-md-12">
        	{{filter.form.search}}

          <span class="input-group-btn">
	          <a class="right collapsed" role="button" style="padding:10px"
						data-tooltip="Advance Search" data-tooltip-pos="down"
						onclick="showHideDiv('advanceSearchOff', 'inline');
										 showHideDiv('advance_search', 'flex');">
	          	<span class="if-collapsed" id="advanceSearchOff" style="display: inline">
								<i class="down"></i>
							</span>
	          </a>
	          <button data-tooltip="Search" data-tooltip-pos="down"
						class="btn btn-lg" type="submit">
							&#x1F50D
						</button>
						<button data-tooltip="Help" data-tooltip-pos="down"
						class="btn btn-lg" onClick="showHideDiv('help_guide', 'flex')"
						type="button">
							&#10067
						</button>
       		</span>
        </div>
      </div>
     </div>
  </div>
</form>

<!-- The Help Guide Modal -->
<div id="help_guide" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
		<div class="modal-header">
		 	<h3> CheatSheet </h3>
			<span onclick="showHideDiv('help_guide', 'flex');"
               class="close">&times;</span>
	 	</div>
	 	<div class="modal-body">
		  {% include "mridata/cheatsheet.html" %}
	 	</div>
	 	<div class="modal-footer">
      <button class="btn btn-info" onclick="showHideDiv('help_guide', 'flex');">Close</button>
	 	</div>
  </div>
</div>

<div class="col">
  <div class="container">
    <h5 class="card-title text-center">
      Projects
    </h5>
    <div class="card-columns">
      {% for project in projects %}
      {% include "mridata/project_card.html" with project=project %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
